{% extends '::newsletterbase.html.twig' %}

{% set active_sub_page = "subscribers" %}

{% block newsletterbody -%}
    <h1>subscribers creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('newsletter_subscribers') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
